.cart {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    color: white;
    text-decoration: none;
    list-style: none;
  font-size: 22px;
}

.cart:hover {
    text-decoration: none;
    color: #008000;
    background-color: #fff;
    cursor: pointer;
 }

 .icon {
    color: white;
    font-size: 30px;
    padding-right: 7px;
}

p {
margin-bottom: 1px !important;
}
